/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: Persian;
    src: url('/fonts/Persian.woff2')
}
*{
    font-family: Persian;
}
body{
    margin: 0;
    direction: rl;
}